body {
    background-color: var(--clr-white);
    height: 100%;
    padding: 0 .2rem;

    .wrapper {
        width: 100%;
        height: 100%;
        // outline: 2px solid black;
    }

    header {
        padding: .5rem;
    }

    .content {
        margin: .5em auto;
        outline: 2px solid red;
    }
}