@use "../base/variables";
@use "../abstracts/mixins";

body {
    font-family: var(--ff);
    height: 100%;
    background-color: var(--clr-white);

    .wrapper {
        width: 100%;
        height: 100%;
    }

    header {
        padding: .5rem;
    }

    .hero {
        margin: .5em auto;
        max-width: 570px;
        outline: 2px solid red;
    }

}


@include breakpoint(Desktop) {
    body {

        .container {
            outline: 2px solid peru;
            height: calc(100vh - 50px);
            display: flex;
        }

        .hero {
            margin: 0 auto;
            max-width: 90%;
            padding: 0 2rem;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;

            &__img-container {
                outline: 2px solid blue;
                height: 100%;
                // max-height: 80vh;
                width: 45%;
                padding: 3rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__img {
                // margin: 0 auto;
                // min-width: 400px;
            }
        }
    }
}