@use "../base/variables";
@use "../abstracts/mixins";

body {
    font-family: var(--ff);
    height: 100%;
    background-color: var(--clr-white);

    .wrapper {
        width: 100%;
        height: 100%;
    }

    header {
        padding: .5rem;
    }

    .hero {
        margin: .5em auto;
        max-width: 570px;
        outline: 2px solid red;
    }

}


@include breakpoint(Desktop) {
    body {

        .hero {
            margin: 2.4rem auto;
            max-width: 80%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 1rem;

            &__img {
                outline: 2px solid green;
                max-height: 99vh;
            }
        }
    }
}