.card__container {
    background-color: transparent;
    width: 400px;
    height: 416px;
    perspective: 1000px;
  }

  .card__content {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
  }