.card__container {
    background-color: transparent;
    width: 400px;
    height: 416px;
    perspective: 1000px;
  }

  .card__content {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%);
    width: 100%;
    height: 100%;
    border-radius: 30px;

    &.back {
      transform: rotateY(380deg);
    }

    .card__rating,
    .card__thanks {
      position: absolute;
      top: 32px;
      bottom: 32px;
      left: 32px;
      right: 32px;
      backface-visibility: hidden;
    }

    .card__rating {
      transform: rotateY(0deg);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: var(--med-grey);

      .card__icon-wrapper {
        margin-bottom: 30px;
        padding: 1rem;
        width: 48px;
        height: 48px;
        background-color: var(--dark-blue);
        border-radius: 50%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .card__message {
        .card__title {
          font-size: 28px;
          line-height: 35px;
          font-weight: 700;
          color: #fff;
          margin-bottom: 16px;
        }

        .card__description {
          font-size: var(--p-size);
          line-height: 24px;
          font-weight: 400;
          color: var(--light-grey);
        }
  
        .card__rating-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 51px;
          margin-top: 24px;
          margin-bottom: 32px;
        }
      }
    }
  }

