.flex {
    display: flex;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.col {
    flex-direction: column;
}

.link {
    color: var(--clr-link);
    text-decoration: none !important;

    &:hover {
        color: var(--hov-link);
    }
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.register {
    color: var(--clr-link);
    padding: .4em 1em;
    width: 100%;
    outline: 2px solid var(--clr-black);
    text-decoration: none;
    border-radius: .6em;

    &:hover {
        color: #fff;
        background-color: var(--clr-black);
    }
}

.rotate-icon {
    animation: .2s rotateIcon forwards ease-in-out;
}