.flex {
    display: flex;
}

.center {
    justify-content: space-between;
    align-items: center;
}

.no-underline {
    text-decoration: none;
}

.link {
    color: var(--clr-link);
    text-decoration: none !important;

    &:hover {
        color: var(--hov-link);
    }
}

.hidden {
    display: none;
}