.dropdown {
  &__button {
    border: none;
    width: 55%;
    color: var(--clr-link);
    background-color: transparent;

    &:hover {
      color: var(--hov-link);
      cursor: pointer;
    }

    &-icon {
      transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover &-icon {
      filter: brightness(0%);
      transform: translateY(3px);
    }
  }

  &__menu {
    max-width: 80%;
    margin-left: 1rem;
    padding: 0.2em 0.4em;
    animation: translateDown .4s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &-item {
      padding: 0.5em 0;
    }

    &-link {
      gap: 0.8em;
      align-items: center;
    }
  }
}

@keyframes translateDown {
  from {
    opacity: 0.5;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}