.dropdown {
    
    &__button {
        border: none;
        width: 55%;
        color: var(--clr-link);
        background-color: transparent;

        &:hover {
            color: var(--hov-link);
            cursor: pointer;
        }

        &-icon {
            transition: all .2s ease-out;
        }

        &:hover &-icon{
            filter: brightness(0%);
            transform: translateY(3px);
        }
    }


    &__menu {
        // outline: 2px solid red;
        max-width: 80%;
        margin-left: 1rem;
        padding: .2em .4em;

        &-item {
            padding: .5em 0;
        }

        &-link {
            gap: .8em;
            align-items: center;
        }
    }   
}