:root {
    --clr-white: hsl(0, 0%, 98%);
    --clr-gray: hsl(0, 0%, 41%);
    --clr-black: hsl(0, 0%, 8%);
    --clr-overlay: hsla(0, 0%, 8%, 0.3);

    --clr-link: var(--clr-gray);
    --clr-link-hov: var(--clr-black);

    --ff: "Epilogue", sans-serif;

    --fs-100: 0.75rem;
    --fs-200: 0.875rem;
    --fs-300: 0.9375rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 2.25rem;

    --fw-500: 500;
    --fw-700: 700;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}