/* ----- Hamburger Menu ----- */

@import "../../sass/abstracts/mixins";

.hamburger {
  padding: 0 0.15rem;
  width: 40px;
  height: 30px;
  background-color: transparent;
  outline: 0;
  border: none;
  z-index: 100;
}

.nav {
  font-size: var(--fs-200);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  // transform: translateX(250px);
  padding: 2rem 1.5rem;
  width: 65%;
  max-width: 245px;
  height: 100vh;
  background-color: var(--clr-white);
  gap: 1.2rem;
  transition: transform 0.3s cubic-bezier(0.76, 0.03, 0.02, 0.86);

  &__list-item {
    margin: .8em 0;
  }
}

.nav--enter {
  transform: translateX(0%);
}

.nav--exit {
  transform: translateX(100%);
}

@include breakpoint(Desktop) {
  .hamburger {
    display: none;
  }

  .nav {
    width: 90%;
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    position:static;
    // transform: translateX(250px);
    padding: .5rem;
    // width: 65%;
    // max-width: 245px;
    max-height: 50px;
    gap: none;

    &__list {
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;

      &-item {
        margin: 0;
        padding: 0 1em;
      }
    }
  }
}

